<div id="user-metadata-box" class="box">
	Logged in as: <%= session[:username] %> &yen; <a href="/account/logout">Logout</a>
</div>

<h1 class="title">Universal Timebooking Cegeka</h1>

<div class="clear"></div>

<!-- New timesheet -->
<div id="new-timesheet">
	<h2>New Timesheet</h2>

	<%= form_tag time_add_path, :class => 'box' do %>
		<table>
			<tr>
				<td><%= label_tag :work_date %></td>
				<td><%= date_select :timesheet_date, :work_date %></td>
			</tr>

			<tr>
				<td><%= label_tag :work_time %></td>
				<td><%= time_select :timesheet_time, :work_time, {:default => {:hour => "02", :minute => "00"}, :minute_step => 15} %></td>
			</tr>

			<tr>
				<td><%= label_tag :project %></td>
				<td><%= select_tag(:project, options_for_select([
						['Marketing', 'P01185'], 
						['Ordertool', 'P01193'],
						['Smartspot', 'P01285'],
						['Realspeed', 'P01299'],
						['BRE On Line', 'P01209'],
						['Popcorn', 'P01305'],
						['SEPA DD', '1060558'],,
						['Sun Phase 3', 'Sun Phase 3'],
						['Testing', 'Testing'],
						['Refactorings', 'Refactorings'],
						['Competence Centre', 'Competence Centre']
					])) %></td>
			</tr>

			<tr>
				<td><%= label_tag :issue, "Jira Issue" %></td>
				<td><%= text_field_tag :issue %></td>
			</tr>

			<tr>
				<td><%= label_tag :comment %></td>
				<td><%= text_area_tag :comment, "", {:rows => 10} %></td>
			</tr>

			<tr>
				<td colspan="2"><%= submit_tag("Add Timesheet") %></td>
			</tr>
		</table>
	<% end %>
</div>


<!-- Previous timesheets -->
<div id="previous-timesheets">
	<h2>Previous Timesheets</h2>

	<% @timesheets.each do |t| %>
	<div class="box toggable">
		<!-- Display issue and date -->
		<span class="left issue"><strong><%= t.issue %> (<%= t.time %>)</strong></span>
		<span class="right date"><%= t.date.to_time.strftime('%A %B %d') %></span>
		<div class="clear"></div>

		<div class="metadata">
			<span class="project"><strong>Project: </strong> <%= t.project %></span>

			<div>
				<%= simple_format(t.comment) %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div id="generate-report">
	<h2>Generate Report</h2>

	<p>In order to generate a report, please fill in the form below:</p>

	<%= form_tag generate_reports_path, :class => "box" do %>
	<table>
		<tr>
			<td><%= label_tag :report_date %></td>
			<td><%= collection_select :timesheet, :report_date, @timesheets, :date, :date %></td>
		</tr>

		<tr>
			<td colspan="2"><%= submit_tag "Generate report" %></td>
		</tr>
	</table>
	<% end %>
</div>

<div class="clear"></div>

<script type="text/javascript">
$(document).ready(function(){
	$('#previous-timesheets div').click(function(event) {
		$(this).children('.metadata').toggle(300);
	});
});
</script>
