<div id="login-box" class="box">
	<h1>Login</h1>

	<p>You're not currently logged in, so if you kindly will, please do so below:</p>

	<div class="error"><%= flash[:error] %></div>

	<%= form_tag("/account/login", :method => "post") do %>
		<%= label_tag(:username, "username:") %>
		<%= text_field_tag(:username) %>

		<%= label_tag(:password, "password:") %>
		<%= password_field_tag(:password) %>

		<%= submit_tag("Login") %>
	<% end %>
</div>