/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url('/assets/background.png');
	margin: 0;
	padding: 0;
}

#main-content {
	border: 1px solid #69D2E7;
	background-color: #A7DBD8;
	box-shadow: 0 0 10px #c9c9c9;
	margin: 0 auto;
	min-height: 300px;
	padding: 1em;
	width: 1300px;
}

h1, h2 {
	color: #000;
	text-shadow: 1px 1px #fff;
}

.box {
	background-color: #F9CDAD;
	border: 1px dotted #FA6900;
	padding: 1em;
}

form {
	input {
		border-radius: 6px;
		display: block;
		font-size: 100%;
		padding: 0.5em;
		width: 90%;
	}

	select {
		border-radius: 6px;
		font-size: 100%;
		padding: 0.5em
	}

	input[type='submit'] {
		background-color: #E0E4CC;
		margin-top: 5px;
		width: 94%;
	}
}

.error {
	color: #d20;
	display: block;
	margin-bottom: 1em;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}