// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-metadata-box {
	float: right;
}

#new-timesheet, #generate-report {
	float: left;
	width: 40%;
}

#previous-timesheets {
	float: right;
	min-height: 900px;
	width: 50%;

	> div {
		cursor: pointer;
		margin-bottom: 1em;
		width: 95%;
	}

	.issue, .date {
		font-size: 120%;
	}

	.metadata {
		display: none;

		.project {
			display: block;
			padding: 1em 0;
		}

	}
}

table {
	td {
		padding-bottom: 1em;
	}
}

form {
	select, input, textarea {
		border-radius: 3px;
		font-size: 70%;
		padding: 0.3em 0.7em;
	}

	textarea, input {
		width: 350px;
	}

	textarea {
		font-size: 100%;
	}

	input[type='submit'] {
		width: 440px;
	}
}
