// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reports table {
	border-collapse:collapse;
	box-shadow: 0 0 10px #d33;
	width: 100%;

	td, th {
		border: 2px solid #FA6900;
		padding: 1em;
		text-align: center;
	}

	tfoot {
		font-weight: bold;
	}

	thead, tfoot {
		background-color: #69D2E7;
	}
}

#reports .aleft {
	text-align: left;
}