<div id="reports">
	<h2 class="right"><a href="/home">Back to timesheet interface</a></h2>

	<h1>Generated Report for <%= @report_date %></h1>

	<div class="clear"></div>

	<p>The report below has been generated based on your <%= @report_date %> work logs.</p>

	<h2>General</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Issue Nr.</th>
				<th>Project</th>
				<th>Time spent</th>
				<th>Comment</th>
			</tr>
		</thead>

		<tbody>
			<% @timesheets.each do |t| %>
			<tr>
				<td><%= t.issue %></td>
				<td><%= achievo_code_to_project_name t.project %> - <%= t.project %></td>
				<td><%= t.time %></td>
				<td class="aleft"><%= simple_format(t.comment) %></td>
			</tr>
			<% end %>
		</tbody>

		<tfoot>
			<tr>
				<td><%= concat_issues @timesheets %></td>
				<td><%= concat_projects @timesheets %></td>
				<td><%= concat_time @timesheets%></td>
				<td>Total hours worked</td>
			</tr>
		</tfoot>
	</table>

	<h2>Jira</h2>
	

	<table border="1">
		<thead>
			<tr>
				<th>Issue Nr.</th>
				<th>Time Spent</th>
				<th>Date Started</th>
				<th>Work Description</th>
			</tr>
		</thead>

		<tbody>
			<% @timesheets.each do |t| %>
			<tr>
				<td><%= link_to_jira t.issue %></td>
				<td><%= time_to_jira t.time %></td>
				<td><%= date_started_jira t.date %></td>
				<td class="aleft"><%= simple_format(session[:username] + ":\n\n" + t.comment) %></td>
			</tr>
			<% end %>
		</tbody>

		<tfoot>
			<tr>
				<td><%= concat_issues @timesheets %></td>
				<td><%= time_to_jira concat_time @timesheets%></td>
				<td><%= date_started_jira @timesheets.first.date %></td>
				<td>Total hours worked</td>
			</tr>
		</tfoot>
	</table>

	<h2>Camis</h2>

	<table border="1">
		<thead>
			<tr>
				<th>Work Log</th>
				<th>Description</th>
				<th>Work Performed</th>
				<th>Work time</th>
			</tr>
		</thead>

		<tbody>
			<% @timesheets.each do |t| %>
			<tr>
				<td><%= achievo_code_to_camis_wo t.project %></td>
				<td><%= t.issue %></td>
				<td><%= date_performed_camis t.date %></td>
				<td><%= time_to_camis t.time %></td>
			</tr>
			<% end %>
		</tbody>

		<tfoot>
			<tr>
				<td><%= concat_work_orders @timesheets %></td>
				<td><%= concat_issues @timesheets %></td>
				<td><%= date_performed_camis @timesheets.first.date %></td>
				<td><%= time_to_camis concat_time @timesheets%></td>
			</tr>
		</tfoot>
	</table>

	<h2>Achievo</h2>

	<table border="1">
		<thead>
			<tr>
				<th>Date</th>
				<th>Project</th>
				<th>Remark</th>
				<th>Time</th>
			</tr>
		</thead>

		<tbody>
			<% @timesheets.each do |t| %>
			<tr>
				<td><%= date_performed_achievo t.date %></td>
				<td><%= achievo_code_to_achievo_fulltext t.project %></td>
				<td class="aleft"><%= time_to_jira t.time %>: <%= t.issue %><br /><br /><%= simple_format(t.comment) %></td>
				<td><%= t.time %></td>
			</tr>
			<% end %>
		</tbody>

		<tfoot>
			<tr>
				<td><%= date_performed_achievo @timesheets.first.date %></td>
				<td><%= concat_projects @timesheets %></td>
				<td><%= date_performed_camis @timesheets.first.date %></td>
				<td><%= time_to_camis concat_time @timesheets%></td>
			</tr>
		</tfoot>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		$('td').zclip({
	        copy : function(e) {
	        	return $(e.currentTarget).text();
	        } 
	    });

	});
</script>
