<!DOCTYPE html>
<html>
<head>
  <title>Universal Timebooking Cegeka</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-content">
	<%= yield %>
</div>

</body>
</html>
